* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  letter-spacing: 0.1px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.loadingScreen {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c2937;
  color: #ffbb7c;
  font-family: "noto-serif";
  font-style: italic;
  font-size: 32px;
  transition: 0.4s opacity;
  pointer-events: none;
}

.hideLoading {
  opacity: 0;
}

.browserWidthCatch {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c2937;
  color: #ffbb7c;
  font-family: "noto-sans";
  transition: 0.4s opacity;
  pointer-events: none;
}

@media only screen and (max-width: 890px) {
  .browserWidthCatch {
    opacity: 100%;
  }
}
body {
  background: #1c2937;
}

.leftLabel {
  position: fixed;
  padding-top: 20px;
  z-index: 1;
  background: #1c2937;
  width: 22%;
  padding-left: 0 !important;
  padding-bottom: 20px;
  overflow-x: hidden;
  display: flex;
  color: #ffbb7c;
  font-family: "noto-sans";
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 18px;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 18px;
}

h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
}

.nav {
  margin-left: 60px;
  margin-right: 60px;
  color: #ffbb7c;
  padding: 25px 0 20px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  z-index: 1000;
  background: #1c2937;
  font-family: "noto-sans";
  align-items: center;
}
.nav .left {
  grid-column: 1;
  justify-self: start;
}
.nav .left a {
  font-weight: 600;
  cursor: pointer;
}
.nav .left a:hover {
  opacity: 30%;
}
.nav .logo {
  text-transform: uppercase;
  grid-column: 2;
  font-size: 27px;
  font-family: "noto-serif";
  margin-bottom: 0;
  font-weight: 600;
  transform: translateY(2px);
}
.nav .logo:hover {
  opacity: 30%;
  cursor: pointer;
}
.nav .right {
  grid-column: 3;
  padding-top: 6px;
  justify-self: end;
  align-self: center;
}

.nav-wrapper {
  border-bottom: 1.5px solid #ffbb7c;
}

.year {
  cursor: pointer;
}

.trendList,
.bookList {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.trendList::-webkit-scrollbar {
  display: none;
}

.bookList::-webkit-scrollbar {
  display: none;
}

.clickedTrend {
  font-weight: 600;
  text-decoration: underline;
}

.clickedTrend:hover {
  opacity: 100% !important;
}

.bookList {
  flex: 3;
  height: 90vh;
  position: relative;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.trendList {
  font-family: "noto-sans", sans-serif;
  flex: 1;
  height: 90vh;
  position: relative;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  color: #ffbb7c;
}
.trendList p {
  display: block;
  padding: 0px 0 0px 20px;
  font-size: 18px;
  cursor: pointer;
}
.trendList p:last-child {
  margin-bottom: 25px;
}
.trendList .year:hover,
.trendList p:hover {
  opacity: 0.3;
}

/* Style the buttons */
.btn {
  padding: 4px 8px;
  background: #1c2937;
  cursor: pointer;
  font-size: 14px;
  opacity: 30%;
  font-weight: 600;
}

.nonfictionBtn {
  color: #ffbb7c;
}

.fictionBtn {
  margin-right: 10px;
  color: #ffbb7c;
}

/* Add a dark background to the active button */
.btn.active {
  opacity: 1;
}

.btn.active:hover {
  opacity: 30%;
}

.nonfictionBtn {
  font-family: "noto-serif";
}

.fictionBtn {
  font-family: "noto-sans";
}

.card-blank {
  width: 159px;
  height: 229px;
  pointer-events: none;
}

.hoverClassifiers {
  font-weight: 400 !important;
}

.hoverCard {
  position: absolute;
  pointer-events: none;
  width: auto;
  height: auto;
  padding: 20px;
  font-size: 16px;
}
.hoverCard p {
  font-weight: bold;
}

.hoverCard.fiction {
  font-family: "noto-sans";
  color: #ffbb7c;
  border: 1.5px solid #ffbb7c;
  background: #1c2937;
}

.hoverCard.nonfiction {
  font-family: "noto-serif";
  color: #ffbb7c;
  border: 1.5px solid #ffbb7c;
  background: #1c2937;
}

.grid {
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 200px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 165px);
  grid-column-start: 0;
  grid-column-end: 2;
}
.grid .card {
  min-width: 150px;
  min-height: 229px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
}
.grid .card .content {
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events: none;
}
.grid .card .content .bookTitle {
  text-align: center;
  width: 100%;
  font-size: 16px;
  pointer-events: none;
}
.grid .card .content .keywords {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  pointer-events: none;
}
.grid .fiction {
  font-family: "noto-sans", san-serif;
  font-weight: 600;
  color: #ffbb7c;
  border: 1.5px solid #ffbb7c;
}
.grid .nonfiction {
  font-family: "noto-serif", san-serif;
  font-weight: 600;
  color: #ffbb7c;
  border: 1.5px solid #ffbb7c;
}
.grid .card:hover .bookTitle {
  color: #1c2937;
}
.grid .card:hover .keywords {
  color: #1c2937;
}
.grid .card:hover {
  background: #ffbb7c;
  cursor: pointer;
}
.grid .expand {
  grid-column: span 2;
  grid-row: span 2;
}

.navFilterHide {
  opacity: 30%;
}

/* The "hide" class is added to the filtered elements */
.hide {
  opacity: 30%;
}

.hoverHide.fiction {
  background: #1c2937;
  border: 1px solid rgba(255, 187, 124, 0.3);
  color: rgba(255, 187, 124, 0.3);
}

.hoverHide.nonfiction {
  background: #1c2937;
  border: 1px solid rgba(255, 187, 124, 0.3);
  color: rgba(255, 187, 124, 0.3);
}

.expanded-bookYear,
.expanded-bookTitle,
.expanded-bookAuthor,
.expanded-bookDescription,
.expanded-bookYear {
  pointer-events: none;
}

.fiction .expanded-bookYear,
.fiction .expanded-bookTitle,
.fiction .expanded-bookAuthor,
.fiction .expanded-bookDescription,
.fiction .expanded-bookURL {
  font-family: "noto-sans";
  color: #ffbb7c;
}

.nonfiction .expanded-bookYear,
.nonfiction .expanded-bookTitle,
.nonfiction .expanded-bookAuthor,
.nonfiction .expanded-bookDescription,
.nonfiction .expanded-bookURL {
  font-family: "noto-serif";
  color: #ffbb7c;
}

.expanded-bookYear {
  font-size: 14px;
  font-style: regular;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 40px;
}

.expanded-bookTitle {
  margin-top: 0;
  padding-top: 0;
  font-size: 28px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 2rem;
}

.expanded-bookAuthor {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  font-weight: 400;
}

.expanded-bookDescription {
  font-size: 14px;
  vertical-align: bottom;
  font-weight: 400;
  margin-bottom: 30px;
}

.expanded-bookURL {
  font-size: 14px;
  vertical-align: bottom;
  font-weight: 400;
  text-decoration: underline;
  font-style: italic;
}

.expanded-bookURL:hover {
  opacity: 0.3;
}

.hidden {
  display: none;
}

.card-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.expanded-card {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  background: #1c2937;
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  margin-left: auto;
  margin-right: auto;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-bottom: 30px;
  /* Location of the box */
  bottom: 0;
  width: auto;
  /* Full width */
  overflow: auto;
  /* Enable scroll if needed */
  left: 50%;
  transform: translateX(-50%);
}

/* Modal Content */
.modal-content {
  background-color: #ffbb7c;
  margin: auto;
  padding: 10px 20px 10px 20px;
  border: 1.5px solid #1c2937;
  width: 100%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: "noto-sans";
  color: #1c2937;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

/* The Close Button */
.close {
  color: #1c2937;
  font-size: 60px;
  font-weight: bold;
  line-height: 50px;
}

.close:hover,
.close:focus {
  opacity: 0.3;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.aboutModal {
  z-index: 1010;
  margin-left: auto;
  margin-right: auto;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  top: 0;
  left: 0;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.aboutModal a {
  color: #1c2937;
}
.aboutModal a:visited {
  color: #1c2937 !important;
}
.aboutModal a:hover {
  opacity: 0.6;
}

/* Modal Content */
.about-modal-content {
  background-color: #ffbb7c;
  color: #1c2937;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 10px 20px;
  width: 75%;
  height: 85%;
  animation-name: animatetop;
  font-family: "noto-sans";
  font-weight: 50;
  font-size: 16px;
  overflow: scroll;
}

.about-modal-content:after {
  content: "";
  display: table;
  clear: both;
}

.credits {
  color: #1c2937;
}

.column {
  float: left;
  width: 50%;
  padding: 20px;
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
label {
  font-weight: 600;
}

.checkBoxContainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 15px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  border: 1px solid #ffbb7c;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: #ffbb7c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
  background-color: rgba(255, 187, 124, 0.9);
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #1c2937;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
